<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/css/login.css"/> 
    </head>
    <body>
            <div class="container">
                <div class="item">
                    <img class="background" src="static/images/login.png" alt=""/>
                </div>
                
                <div class="item">
                    <div class="title">
                        어서오세요!
                    </div>

                    <div class="sub-title">
                        상상력을 무한히 성장시키는 곳<br/>
                        아보르에서 시작하세요
                    </div>

                    <div class="login-form">
                        <form action="">
                            <input type="text" name="" placeholder="ID를 입력하세요." id=""><br>
                            <input type="password" name="" placeholder="PW를 입력하세요." id="">

                            <div class="login-button">
                                <div>
                                    <button class="login-id" type="submit">로그인</button>
                                </div>
                                <div>
                                    <button class="login-pw" type="button">계정 생성</button>
                                </div>
                                
                            </div>

                            <div class="login-etc">
                                <button class="etc-id" type="button">ID 찾기</button> / <button class="etc-pw" type="button">PW 찾기</button>
                            </div>
                        </form>

                    </div>
                </div>
                
            </div>
    </body>
</html>